html, body {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
	font-family: Courier;
	font-size: 16px;
}
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}
.content{
	width: 32%;
	height: 450px;
	background-color: rgba(30,144,255,0.5);
	padding: 1%;
	display: inline-block;
}
.img{
	width: 32%;
	display: inline-block;
	margin-right: 1%;
}
.w-100{
	width: 100%;
}
/*-----Responsive--------*/
@media (max-width: 1024px){
	body{
	font-size: 16px;
	}
}
@media (max-width: 982px){
	body{
	font-size: 14px;
	}
}
@media (max-width: 768px){
	body{
	font-size: 14px;
	}
}
@media (max-width: 640px){
	body{
	font-size: 12px;
	}
}
